<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Servlet.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioRegistrado</servlet-name>
        <servlet-class>Servlet.UsuarioRegistrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Servlet.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProyecto</servlet-name>
        <servlet-class>Servlet.RegistrarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectController</servlet-name>
        <servlet-class>Servlet.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProyecto</servlet-name>
        <servlet-class>Servlet.UpdateProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dao</servlet-name>
        <servlet-class>Servlet.dao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/nuevousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioRegistrado</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/controladorusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProyecto</servlet-name>
        <url-pattern>/nuevoproyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectController</servlet-name>
        <url-pattern>/ProjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProyecto</servlet-name>
        <url-pattern>/UpdateProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dao</servlet-name>
        <url-pattern>/dao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
